*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: #e41f1f; */
  background-image: url("https://source.unsplash.com/random/900×700/?colors");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.qr-section{
  width: 100%;
  height: 100vh;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.form-section{
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e67474;
  opacity: 0.9;
  height: 400px;
  width: 40%;
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #e96666,
             -20px -20px 60px #e96666;
}
.image-section{
  margin: 50px;

  background-color: #4ab1ec;
  height: 400px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #e96666,
             -20px -20px 60px #e96666;
}
img{
  
  height: 200px;
  /* width: 400px; */
}